#person_information
  %p
    %label.label Name:
    %span#first_name= @person.first_name
    %span#middle_name= @person.middle_name
    %span#last_name= @person.last_name

  %p
    %label.label Phone:
    %span#main_phone= @person.main_phone
  %p
    %label.label Email:
    %span#main_email= @person.main_email
