- household_attendees_count = current_person ? event.attendees.from_household(current_person.household).size : 0

.event{:id => dom_id(event)}
  %p
    Our
    %strong= event.name
    will take place
    on
    %strong.start_date.inline= event.start_date.stamp(date_stamp(:long, false))
    at
    %strong.start_time.inline= event.start_date.stamp(date_stamp(:time, true))

  %p
    Currently,
    %strong= "#{event.attendees.size} people"
    are expected to attend.
    - if current_person
      Including
      %strong= household_attendees_count
      from your household.
  %hr
  .details
    %table
      %tbody
        %td
          %ul.summary
            %li.badge.badge-info= event.start_date.stamp(date_stamp(:shortest, true))
            %li.badge.attendees{:id => dom_id(event, :attendee_count)}=pluralize event.attendees.size, "Attendee"
            - if household_attendees_count > 0
              %li.badge.badge-success.household-attendees{:id => dom_id(event, :household_attendee_count)}= "#{household_attendees_count} from your home"
        %td.description= event.description


  %hr
  #rsvp
    - unless current_person
      Please #{link_to "sign in", sign_in_path} in order to RSVP.
    - else
      %h3 Who will attend?
      = form_for event do |f|
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th Who

              %th Attending?
          %tbody
            - current_person.household.members.each do |person|
              %tr
                %td= person.partial_name
                %td= check_box_tag "event[household_attendee_ids][]", person.id, person.attending?(event), :id => dom_id(person, :attending)
        = f.submit :class => 'btn btn-primary'
