%h1= event.name
%p= event.start_date

%h3 Related Events
%ul
  - event.children.each do |event|
    %li= link_to event.name, "#tab-#{event.name.parameterize}", :data => {:toggle => "tab"}

  %h3 Who will attend?
  %table
    %thead
      %tr
        %th Name
        %th Attending?
    %tbody
      - current_user.household_members.each do |person|
        %tr
          %td= person.full_name
          %td= person.attending?(event)
