%h1= event.name
%p= event.start_date

- related_events = event.children
- unless related_events.blank?
  %h3 Related Events
  %ul
    - related_events.each do |event|
      %li= link_to event.name, "#tab-#{event.name.parameterize}", :data => {:toggle => "tab"}

%hr
- unless current_person
  Please #{link_to "login", login_path} in order to RSVP.
- else
  %h3 Who will attend?
  %table
    %thead
      %tr
        %th Name
        %th Attending?
    %tbody
      - current_person.household_members.each do |person|
        %tr
          %td= person.full_name
          %td= person.attending?(event)
