%h1 Events
%table{:class => "table table-striped"}
  %thead
    %tr
      %th ID
      %th
        = t("activerecord.attributes.event.name", :default => t("activerecord.labels.name", :default => "Name"))
      %th Created at
      %th Actions
  %tbody
    - @events.each do |event|
      %tr
        %td= event.id
        %td= link_to event.name, event_path(event)
        %td= event.created_at
        %td
          = link_to "Show", event_path(event)

