%p#notice= notice

%p
  %b Name:
  = @event.name

    -##person_search
      = form_for :person, :url => new_session_path, :method => :get do |f|
        =f.text_field :full_name, :placeholder => 'What is your name?', :data => {:provide => 'typeahead', :source => Person.full_names }
        =f.submit "It's me!"
      %p.sign_up Don't see your name?  Click here to #{ link_to "Sign Up",  new_person_path }

= link_to 'Back', events_path
