-# TODO: use twitter/bootstrap grid system
- upcoming_events = Event.upcoming(15)

#upcoming_events.tabbable.tabs-left.events
  %h2 Upcoming Events for Oseh Shalom
  %ul.nav.nav-tabs
    - upcoming_events.each_with_index do |event, index|
      -# TODO: truncate using jQuery?
      -caption = "#{event.start_date.stamp("10/01")} | #{event.name.truncate(18)}"
      %li{:class => ('active' if index==0)}= link_to caption, "#tab-#{event.name.parameterize}", :data => {:toggle => "tab"}, :title => event.name

  #upcoming_event.event
    .tab-content
      - upcoming_events.each_with_index do |event, index|
        .tab-pane{:id => "tab-#{event.name.parameterize}", :class => ('active' if index==0)}
          =render event
