%h1 Welcome to the High Holidays at Oseh Shalom

-if @member
  #member_information
    %p
      %label Name:
      %span#first_name= @member.first_name
      %span#middle_name= @member.middle_name
      %span#last_name= @member.last_name

    %p
      %label Phone:
      %span#main_phone= @member.main_phone
    %p
      %label Email:
      %span#main_email= @member.main_email
-else
  %input.span3{:type => :text, :data => {:provide => 'typeahead', :source => Member.full_names.to_json}}
  %hr
  <input type="text" class="span3" style="margin: 0 auto;" data-provide="typeahead" data-items="4" data-source="[&quot;Alabama&quot;,&quot;Alaska&quot;,&quot;Arizona&quot;,&quot;Arkansas&quot;,&quot;California&quot;,&quot;Colorado&quot;,&quot;Connecticut&quot;,&quot;Delaware&quot;,&quot;Florida&quot;,&quot;Georgia&quot;,&quot;Hawaii&quot;,&quot;Idaho&quot;,&quot;Illinois&quot;,&quot;Indiana&quot;,&quot;Iowa&quot;,&quot;Kansas&quot;,&quot;Kentucky&quot;,&quot;Louisiana&quot;,&quot;Maine&quot;,&quot;Maryland&quot;,&quot;Massachusetts&quot;,&quot;Michigan&quot;,&quot;Minnesota&quot;,&quot;Mississippi&quot;,&quot;Missouri&quot;,&quot;Montana&quot;,&quot;Nebraska&quot;,&quot;Nevada&quot;,&quot;New Hampshire&quot;,&quot;New Jersey&quot;,&quot;New Mexico&quot;,&quot;New York&quot;,&quot;North Dakota&quot;,&quot;North Carolina&quot;,&quot;Ohio&quot;,&quot;Oklahoma&quot;,&quot;Oregon&quot;,&quot;Pennsylvania&quot;,&quot;Rhode Island&quot;,&quot;South Carolina&quot;,&quot;South Dakota&quot;,&quot;Tennessee&quot;,&quot;Texas&quot;,&quot;Utah&quot;,&quot;Vermont&quot;,&quot;Virginia&quot;,&quot;Washington&quot;,&quot;West Virginia&quot;,&quot;Wisconsin&quot;,&quot;Wyoming&quot;]">
  %hr
  #member_search
    = form_tag members_path, :method => :get do
      =label_tag 'member_query', "First, let's find out who you are.  Please type your name here ->"
      =text_field_tag 'member_query', nil, :placeholder => 'Rabbi Doug Heifetz'
      =button_tag 'Search'




