-# TODO: use twitter/bootstrap grid system


%h1 Upcoming Events for Oseh Shalom
#upcoming_events.tabbable.tabs-left
  - upcoming_events = Event.upcoming(5)
  %h2 Upcoming Events
  %ul.nav.nav-tabs
    - upcoming_events.each_with_index do |event, index|
      -caption = "#{event.start_date.stamp("10/01")} | #{event.name.truncate(15)}"
      %li{:class => ('active' if index==0)}= link_to caption, "#tab-#{event.name.parameterize}", :data => {:toggle => "tab"}

  .tab-content
    - upcoming_events.each_with_index do |event, index|
      .tab-pane{:id => "tab-#{event.name.parameterize}", :class => ('active' if index==0)}
        =render event
