-# TODO: use twitter/bootstrap grid system

-if @person
  %h1 Welcome #{@person.first_name}

  #person_information
    %p
      %label Name:
      %span#first_name= @person.first_name
      %span#middle_name= @person.middle_name
      %span#last_name= @person.last_name

    %p
      %label Phone:
      %span#main_phone= @person.main_phone
    %p
      %label Email:
      %span#main_email= @person.main_email
-else
  %h1 Shalom
  #upcoming_events.tabbable.tabs-left
    - upcoming_events = Event.upcoming(5)
    %h2 Upcoming Events
    %ul.nav.nav-tabs
      - upcoming_events.each_with_index do |event, index|
        %li{:class => ('active' if index==0)}= link_to event.name, "#tab-#{event.name.parameterize}", :data => {:toggle => "tab"}

    .tab-content
      - upcoming_events.each_with_index do |event, index|
        .tab-pane{:id => "tab-#{event.name.parameterize}", :class => ('active' if index==0)}
          %p= event.name
          %p= event.start_date
