Interested in
%h1 High Holidays at Oseh Shalom?

-if @member
  #member_information
    %p
      %label Name:
      %span#first_name= @member.first_name
      %span#middle_name= @member.middle_name
      %span#last_name= @member.last_name

    %p
      %label Phone:
      %span#main_phone= @member.main_phone
    %p
      %label Email:
      %span#main_email= @member.main_email
-else

  %input#member_name.span3{:type => :text, :data => {:provide => 'typeahead', :source => Member.full_names}}

:javascript
  $( "#member_name" ).blur( function( event) {
    console.log( "input was " + this.value );
  });


