!!!
%html
  %head
    %title
      = @title && @title + " | "
      Oseh Occasions
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = yield :meta
    = csrf_meta_tags
  %body
    = render 'layouts/flash_notification'

    .container-fluid
      .row-fluid
        .span2
          <!--Sidebar content-->
          = yield :left_sidebar
        .span10
          = yield
