!!!
%html
  %head
    %title
      = @title && @title + " | "
      Oseh Occasions
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = yield :meta
    = csrf_meta_tags
  %body

    .container-fluid
      .row-fluid
        .span12
          - flash.each do |level, msg|
            .flash.alert-message{:id => "flash_#{level}", :class => "#{level} alert-#{flash_class(level)}"}
              %p= msg

      .row-fluid
        .span2
          <!--Sidebar content-->
          = yield :left_sidebar
        .span10
          = yield
